body {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    overflow-x: hiddens;
    font-family: Poppins, sans-serif;
}

.navbar {
    height: 45px;
}

.navbar ul li {
    padding: 10px 20px;
    font-weight: 600;
}

.navbar ul li a {
    text-decoration: none;
    color: #000000;
}

#home {
    width: 100%;
    height: 700px;
    border: 1px rgb(255, 255, 255) dashed;
}

.name {
    font-weight: 200;
    font-size: 30px;
    font-variant: small-caps;
    text-align: center;
    border: 1px rgb(255, 255, 255) dashed;
    margin-top: 10px;
}

.row {
    border: 1px rgb(255, 255, 255) dashed;
    height: 545px;
    font-weight: 900;
    font-size: 100px;
    text-align: center;
    padding-top: 50px;
}

.column {
    border: 1px rgb(255, 255, 255) dashed;
}

#background_one {
    background-color: #ffffff;
    text-align: center;
    border: 1px rgb(255, 255, 255) dashed;
    height: 100%;
}

.image_container {
    height: 100%;
    border: 1px rgb(255, 255, 255) solid;
    font-size: 25px;
}

.image {
    border: 1px rgb(255, 255, 255) solid;
    height: 80%;
    width: 40%;
    margin-top: 20px;
    border-radius: 50%;
    margin-left: auto;
    margin-right: auto;
}

.image img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    object-fit: cover;
    object-position: 50% 80%;
}

.about {
    text-align: left;
    padding-left: 10px;
    font-size: 20px;
    font-weight: 400;
    padding-top: 20px;
    justify-content: center;
}

#my_pic_container {
    height: 500px;
    background-color: #ffffff;
    border: 1px firebrick dashed;
}

.buttons {
    float: left;
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 300px;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
}

#projects {
    background-color: hsl(0, 0%, 100%);
    height: 500px;
    text-align: left;
    font-family: Roboto, sans-serif;
    font-weight: 900;
    font-size: 60px;
    padding-left: 5%;
    padding-top: 30px;
}

#work,
#skills {
    width: 100%;
    height: 500px;
    text-align: left;
    font-family: Roboto, sans-serif;
    font-weight: 900;
    font-size: 60px;
    padding-left: 5%;
    padding-top: 30px;
}

#work {
    background-color: #fbe5a4;
}

#skills {
    background-color: #ffffff;
}

.individual_skills,
.individual_project {
    font-size: 20px;
    font-weight: 900;
    padding: 20px;
    max-height: 400px;
}


.skill {
    text-align: center;
    font-family: Roboto, sans-serif;
    font-variant: all-small-caps;
    height: 200px;
}

i,
span {
    font-weight: 700;
    padding-bottom: 13px;
    font-size: 70px;
    color: #000000;
}

.icon {
    font-size: 15px;
    color: #137ae0;
    margin-left: 10px;
}

.skill p {
    font-size: 15px;
    font-weight: 100;
    font-variant: normal;
}